/datasets/
/runs/
/wandb/
/scripts/wandb/
scripts/train.log
/.vscode/
/notebooks/
/finetune_runs/
*-checkpoint.ipynb
*.pyc
trainer.log
.ipynb_checkpoints
train.log
/junicode-1.002/
key
key_pub/
/paper_results/
